.about_blog{
    font-family: "Roboto Conesed", serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;

}
.about_medium{
    padding: 0;
    margin: 0;
    font-size:2000%;
}

.about_medium a:hover , a:active{
   color: rgb(0, 238, 255);
    font-size: 110%;
    opacity: 1;
}
