.logo {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 10rem;
}

.div {
    box-sizing: border-box;
}

.title-center ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul {
    margin-right: 19rem;
    margin-left: 19rem;
    /* ระยะห่างของ LOGO  */
}

li {
    list-style: none;
    margin-right: 1.25rem;
    font-size: 1.25rem;
}

ul li {
    text-transform: uppercase;
}

li a {
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.nav-container {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 209, 255);
}

.nav-link {
    font-size: 1.5rem;
}

li a.active, li a.avtive:focus {
    border-top: 0.1875rem solid rgb(217, 255, 0);
}

li a:hover {
    border-top: 0.1875rem solid rgb(217, 255, 0);
}

/* .icon {
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    width: 30px;
    animation: rotateHouse 5s ease-in-out 2s infinite alternate;
}

@keyframes rotateHouse {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        background-color: yellowgreen;       // ลูกเล่นของไอคอนในไลบารี่
        left: 200px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.icon:hover {
    background-color: orange;
    cursor: pointer;
    color: aliceblue;
    transform: rotate(45deg)
} */

.bg-soft {
    height: 100vh;
    background-color: brown;
    transition: all .5s ease-in-out;
}

.bg-dart {
    height: 100vh;
    background-color: yellowgreen;
    transition: all .5s ease-in-out;
}

.dart-color {
    color: black;
}

.soft-color {
    color: white;
}