.bg {
    position: relative;
    /* background: url("about-bg.jpg") no-repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.about__content{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}



.textfont {
    margin-top: 4rem;
    font-family: "Roboto Conesed", serif;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.textleft {
    padding: 0;
    margin-left: 0;
    list-style-type: none;
    font-size: 1.2rem;
}